
*{
    font-family: calibri;
}
.heading{
    margin-bottom: 5px;
}
.paragraph{
    margin-top: 5px;
    margin-bottom: 5px;
}
.display{
    list-style-type: style none;
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
}
.display li{
    display: inline-block;
    margin: 2px;
}
.display li:not(:last-child):after {
    content: "|";
    position: absolute;
    right: 0;
  }
.align1{
    text-align: right;
    margin-left: 700px;
    font-weight: bold;
}
.heading1{
background-color: rgb(215, 235, 235);
margin-bottom: 5px;
}
.heading3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.paragraph1{
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin{
    margin-top: 5px;
    margin-bottom: 5px;
}
.heading4{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.paragraph2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin1{
    margin-top: 5px;
    margin-bottom: 5px;
}
.heading5{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.paragraph3{
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin2{
    margin-top: 5px;
}
.align2{
    text-align: right;
    margin-left: 715px;
    font-weight: bold;
}
.align3{
    text-align: right;
    margin-left: 767px;
    font-weight: bold;
}
.paragraph4{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.align4{
    text-align: right;
    margin-left: 200px;
    font-weight: lighter;
}
.align5{
    text-align: right;
    margin-left: 100px;
    font-weight: lighter;
}
.align6{
    text-align: right;
    margin-left: 160px;
    font-weight: lighter;
}